body {
    background-color: silver;
}

.jumbotron {
    background-color: darkred;
    color: white;
}

#letsStartSorting {
    background-color: goldenrod;
    border: solid 1px black;
}

.modal-header {
    background-color: darkred;
    color: white;
}

.modal-body {
    text-align: center;
}

.modal-footer {
    background-color: silver;
}

#sortButton {
    background-color: goldenrod;
    border: solid 1px black;
}

.my-4 {
    background-color: silver;
}
