body {
    background-color: silver;
}

.jumbotron {
    background-color: darkred;
    color: white;
}

#letsStartSorting {
    background-color: goldenrod;
    border: solid 2px black;
    outline: none;
}

.modal-header {
    background-color: darkred;
    color: white;
}

.modal-body {
    text-align: center;
}

.modal-footer {
    background-color: silver;
}

#sortButton {
    background-color: goldenrod;
    border: solid 1px black;
}

.my-4 {
    background-color: silver;
}

.card {
    width: 23%;
    margin: 10px;
    text-align: center;
}


.card p {
    font-size: 17px;
}


.expel:hover {
    background-color: black;
    border: solid 2px black;
    color: white;
    font-weight: bold;
}

/* The alert message box */
.alert {
    display: none;
    padding: 20px;
    width: 80%;
    text-align: center;
    margin: auto;
    background-color: goldenrod; /* Red */
    color: white;
    margin-bottom: 15px;
    z-index: 2;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }
